<div *ngIf="post != null"
     [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0 }">
    <h3 style="display: inline;">{{ post.titre }}</h3>
    <span class="pull-right">{{ post.createdAt | date: 'dd/MM/yy, hh:mm a' }}</span>
    <p>{{ post.contenu }}</p>
    <button class="btn btn-success margin-right-xs" (click)="onLoveIt()">Love It</button>
    <button class="btn btn-danger" (click)="onDontLoveIt()">Don't Love It</button>
    <a routerLink="/posts" class="pull-right">Retour à la liste</a>
</div>